*{
    margin:0%;
    padding: 0;
    left: 0;
    box-sizing: border-box;
    top: 0;
}

body{
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: poppins;
}
nav{
    position: fixed;
 width: 100%;
 padding: 10px 40px;
 display: flex;
 align-items: flex-end;
height: 70px;
background: #293241;
}
nav .logo p{
    font-family: Montserrat !important;
font-style: normal;
font-weight: normal;
font-size: 20px;

color: #FFFFFF;
}

nav .logo p:nth-child(2){
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 100.7%;
/* or 34px */

letter-spacing: 0.1em;

}

nav .menu {
    width: 20%;
    margin-left: 60px;
    height: 50px;
}

nav .menu .menu-links{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav .menu .menu-links li{
 width: 180px;
 padding: 20px 10px;
 display: flex;
 border-radius: 10PX 10PX 0PX 0PX;
}
nav .menu .menu-links li:nth-child(1){
    background-color: #00B4D8;
}
nav .menu .menu-links li a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
nav .menu .menu-links li p {
    width: 20px;
    color: #fff;
    margin-left: 3px;
    margin-top: 1px;
 }


 nav .details {
     width: 20%;
     justify-self: flex-end;
    margin-left: 460px;

    height: 50px;
}

nav .details .details-links{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

nav .details .details-links li{
 width: fit-content;
 padding: 20px 10px;
 display: flex;
 justify-content: space-between;
}

nav .details .details-links li a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
nav .details .details-links li p {
    width: 20px;
    color: #fff;
    margin: 1px 2px 0px 2px;
 }

 nav .sign-up{
margin-left: 30PX;
     box-shadow: 0px;
 }

 nav .sign-up .button{
margin-left: 10px;    
width: 125px;
height: 45px;
background: #00B4D8;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
 }

nav .sign-up .button a{
    
    color: #FFFFFF;
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
}

/* submenu bar */

.sub_menu{
 
    position: fixed;
    top: 70px;
    padding: 10px 0px 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    height: 70px !important;
   background: #00B4D8;
   width: 100%;
   height: 50px;
   }
    
 
    
   .sub_menu .sub_menu-links{
       width: 100%;
       display: flex;
       list-style-type: none;
       margin-left: 65px;
   }
   
 .sub_menu .sub_menu-links li{
    width: fit-content;
     padding: 20px 15px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 8px 8px 0px 0px;
    transition: background .3s ease;
   }
 .sub_menu .sub_menu-links li.active{
    background: #3d4749

 }


 /* .sub_menu .sub_menu-links li:nth-child(1){
     background: #3d4749
 }
    */
   .sub_menu .sub_menu-links li a{
       font-size: 16px;
       display: flex;
       border-radius: 10px 10px 0px 0px;
       color: #fff;
       text-decoration: none;
       padding: 18px 10px;
   }
   .sub_menu .sub_menu-links li a p {
       width: 20px;
       color: #fff;
       margin-left: 5px;
       margin-top: px;
    }
    .sub_menu .sub_menu-links li a:focus{
        background-color: #3d4749;
    } 

.mega_menu{
    z-index: -1;
    position: fixed;
    top: -650px;
    height: 650px;
    overflow-y: scroll;
    left: 110px;
    width: 350px;
    padding: 20px 0px 0px 0px;
    background: #f1f1f1;
    transition: .3s ease-in-out;
}
.mega_menu_visible
{
    top: 140px;
}
.mega_menu::-webkit-scrollbar{
    width: 7px;
    color: #293241;
    background-color: #3d4749;
}

.mega_menu::-webkit-scrollbar-track{
    background-color: #eff3f3;
}
.mega_menu::-webkit-scrollbar-thumb{

border-radius: 50px;
    background: #293241;

}
.mega_menu ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.mega_menu ul li{
    width: 100%;
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.mega_menu ul li a{
    text-decoration: none;
    color: #293241;
    font-weight: 600;
    font-size: 17px;
}
.mega_menu ul li p{
    width: 22px;
    color: #293241;
    margin-left: 3px;
}

.mega_details{
    z-index: -11;
    transition: .5s ease-in-out;;
    width: 750px;
    position: fixed;
    left: -780px;
    opacity: hidden;
    top: 140px;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    height: 550px;
}
.mega_details_visible {
    left: 480px;
    opacity: 100%;

}

.mega_details h4{
    font-size: 20px;
color: #3d4749;
}
.mega_details ul{
    list-style-type: none;
height: 100%;
display: flex;
flex-direction: column;

}
.mega_details ul li{
    height: 50px;
padding: 5px;

}
.mega_details ul li a{
    color: #293241;
}